.post-title {
  font-weight: 400;
  /* background-image: url('/img/Background-AdobeStock_72666273.jpg') */
}

.sidebar {
  background-color: #EFECF4;
  color: #662d91;
}

.sidebar-nav a {
  font-size: 13px;
  color: #662d91;
  font-weight: 600;
  text-transform: uppercase;
}

.sidebar-nav a:hover {
  color: #40904C;
  text-decoration: none;
}

p.copyright {
  color: #aaa;
  text-transform: uppercase;
}

.sidebar section a {
  color: #40904C;
}

.sidebar section a:hover {
  color: #662d91;
}

.post a:hover {
  color: #662d91;
}.post a {
  font-weight: 400;
  color: #92278f;
}
th, td {border: none;}

thead {
  border-bottom: 1px solid #e5e5e5;
}

table {
  font-size: .8rem
}
html,
body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.66;
  color: #333;
  ;
}

h1, h2 {
  color: #662d91;
  text-transform: uppercase;
  font-weight: 600;
}

.container h3, h4 {
  color: #92278f;
  font-weight: 600;

}

.container,
.content {
  max-width: unset;
}

/* .img-circle
{
    border-radius: 50%;
}

.headshot
{
    width: 115px;
    height: 115px;
}
 */

.brand {
  font-size: 2.6em;
  margin-bottom: 0;
}

.text-center {
  text-align: center;
}

.meta {
  font-size: .8rem !important;
  font-weight: 300;
}

pre {
  padding: 1px;
  tab-size: 2;
}

.hljs {
  white-space: pre;
  overflow-x: auto;
  /* no line wrapping */
}

pre,
code {
  font-family: 'Roboto Mono', monospace;
  border-radius: 4px;
  width: 100%;
  font-size: .9em;
}

code {
  padding: .20em .2em .10em;
  background: #272932 !important;
  color: #ececec !important;
  box-sizing: border-box;
  margin: 0 .25em;
}

.copyright,
.poweredby {
  font-size: 13px !important;
  font-weight: 300;
}

img.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* Changing from font-awesome 4 to 5, the class pull-right was removed */

.pull-right {
  float: right;
}